/* Eric meyers reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Grid
*/

.container {
  width: 680px;
}

/*
main styles
*/

h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
  text-align:center;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-style: oblique;
}

body {
	background: #000;
	color: #f1f1f1;
  text-align: center;
	font: 300 16px/22px "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
images
*/

.choice_image {
  height: 100px;
  border-radius: 2%;
  margin-top: 5px;
}

.choice_back1 {
  padding-top: 20px;
  display: none;
}
.choice_back12 {
  padding-top: 20px;
  display: none;
}
.choice_back2 {
  padding-top: 20px;
  display: none;
}
.choice_back22 {
  padding-top: 20px;
  display: none;
}
.choice_back3 {
  padding-top: 20px;
  display: none;
}
.choice_back32 {
  padding-top: 20px;
  display: none;
}
.choice_back4 {
  padding-top: 20px;
  display: none;
}
.choice_back42 {
  padding-top: 20px;
  display: none;
}
.choice_back5 {
  padding-top: 20px;
  display: none;
}
.choice_back52 {
  padding-top: 20px;
  display: none;
}
.choice_back6 {
  padding-top: 20px;
  display: none;
}
.choice_back62 {
  padding-top: 20px;
  display: none;
}
.choice_back7 {
  padding-top: 20px;
  display: none;
}
.choice_back72 {
  padding-top: 20px;
  display: none;
}
.choice_back8 {
  padding-top: 20px;
  display: none;
}
.choice_back82 {
  padding-top: 20px;
  display: none;
}

.choice_display {
  display: block;
}

/*
tables
*/



/*
buttons
*/

button {
  background: #000;
  color: #fff;
	display: inline-block;
  justify-content: center;
  align-items: center;
	margin: 0;
	text-align: center;
  border: 0px solid #000;
  border-radius: 2%;
  font: 300 16px/22px "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:hover {
	background: #fff;
  color: #000;
}
